
.card-home {
    max-width: 400px;
    border-style: double;
    background-color: #FAE4EA;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}