<div class="main-div">

    <mat-card class="card-home">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Bem-vindo!</mat-card-title>
            <mat-card-subtitle>Hospital Pediátrico EML1</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Esse é um hospital fictício em que você pode cadastrar os exames de gestantes.
            </p>
            <p>
                Os exames são processados e um resultado diz se a criança se encontra em alguma das situações:
            </p>
            <ul>
                <li>Normal</li>
                <li>Situação suspeita</li>
                <li>Patologia confirmada</li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/novo">Novo Exame</button>
        </mat-card-actions>
    </mat-card>

</div>