<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="main-title">Hospital Pediátrico EML1</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button class="bt-link" mat-raised-button color="accent" routerLink="/novo">Registrar Exame</button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Médico">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
